body {
  background-color: coral;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.comment {
  background-color: pink;
  width: 100%;
}

.replied {
  position: relative;
  left: 5%;
  width: 95%;
  background-color: pink;
}

.userInfo,
.replyInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plusOpinion,
.minusOpinion {
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 10px;
}

.replyBox {
  color: hsl(238, 40%, 52%);
  font-weight: 700;
}

.commentInfoAndOptions {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.opinion {
  background-color: hsl(223, 19%, 93%);
  width: 4rem;
  height: 1.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 64px;
  height: 64px;
}

.replyingUser {
  color: blue;
}

.youButton {
  background-color: brown;
  color: white;
}

.editOptions {
  display: flex;
}

.commentEditParent {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 200px;
  top: 1%;
}

.editArea {
  width: 90%;
  height: 100%;
}

.btn {
  width: 30px;
  height: 30px;
}
